<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/sistema.css">
    <title>INICIO</title>
  </head>
  <body>         
    <div class="form">
      <h1>INICIO</h1>
      <% if (login) { %>
        <!--DATOS DEL USUARIO-->
        <div>
          <h1>USUARIO: <%= name %></h1>
          <h1>ROL: <%= role %></h1> 
        </div>
        <!-- MENU DE OPCIONES -->              
        <div class="container text-center menu-admin">
          <div class="row row-cols-2">
            <!-- OPCIONES DISPONIBLES SOLO PARA ADMIN -->
            <% if (role === 'ADMINISTRADOR') { %>
              <div class="col opcion">
                <a href="emindex">
                  <img src="/resources/css/imgs/menu-sistema/usuarios.png" alt="Usuarios">
                  <p>USUARIOS</p>
                </a>
              </div>
              <div class="col opcion">
                <a href="vercomen">
                  <img src="/resources/css/imgs/menu-sistema/comentarios.png" alt="Comentarios">
                  <p>COMENTARIOS</p>
                </a>
              </div>
            <% } %>
            <!-- OPCIONES DISPONIBLES SOLO PARA CHEF -->
            <% if (role === 'ADMINISTRADOR' || role === 'CHEF') { %>  
              <div class="col opcion">
                <a href="proindex">
                  <img src="/resources/css/imgs/menu-sistema/platillos.png" alt="Platillos">
                  <p>PLATILLOS</p>
                </a>
              </div>
            <% } %>
          </div>
        </div>
        <br>
        <a href="logout" class="bt-form-b">CERRAR SESION</a>
      <%} else { %>
        <h1 style="margin-top: 30px;">DEBE INICIAR SESION</h1>
        <div class="container text-center">
          <a href="login" class="bt-form-a" style="margin-top: 30px;">IR AL INICIO DE SESION</a>
        </div>
      <% } %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>