<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="resources/css/web.css">
    <title>LA CASAS DEL BUEN COMER</title>
  </head>
  <body>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navegacion">
      <a href="inicio" class="actual">INICIO</a>
      <a href="menu">MENÚ</a>
      <a href="comentarios">COMENTARIOS</a>
    </nav>
    <!-- CONTENIDO DE LA PAGINA -->
    <section class="contenido">
      <!-- TITULO DE LA PAGINA -->
      <h1 style="font-size: 60px;">LA CASA DEL BUEN COMER</h1>
      <!-- CARRUSEL CON INFORMACION 
      LAS IMAGENES SE PUEDEN CAMBIAR, SOLO ESTAN PARA HACER EL EJEMPLO -->
      <div id="carouselExampleCaptions" class="carousel slide">
        <h1>LO QUE OFRECEMOS</h1>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/resources/css/imgs/carrusel/desayuno.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>DESAYUNOS</h5>
              <p>Empieza tu día con energía y sabor en “El Plato del Buen Comer”, donde cada desayuno es un festín para tu paladar.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/resources/css/imgs/carrusel/comida.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>COMIDAS</h5>
              <p>Disfruta de una experiencia culinaria inigualable en El Plato del Buen Comer durante la hora de la comida, donde la calidad y el sabor se fusionan para deleitar tu paladar.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- PEDIDOS POR WHATSAPP -->
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <!-- SE PUEDE CAMBIAR ESTA IMAGEN POR OTRA -->
            <img src="/resources/css/imgs/redes/whatsapp-96.png" class="img-wa" alt="">
          </div>
          <div class="col">
            <h1>¿LLEVAS PRISA?</h1>
            <p>Contáctanos, realiza tu pedido y tu pedido estará en la puerta de tu casa lo antes posible.</p>
            <p>Tambien recuerda que puedes realizar tu pedido y acordar a una hora para que puedas pasar por el y ahorrarte la espera!!</p>
            <a href="https://wa.me/525587683642" target="_blank" class="bt-wa">ESPERAMOS TU MENSAJE</a>
          </div>
        </div>
      </div>
    </section>
    <!-- SECCION DEL CHATBOT -->
    
    <!-- SECCION INFERIOR DE LA PAGINA -->    
    <footer>
      <h1>AQUI ESTAMOS</h1>
      <div class="mapa" id="mapa">
        <p>AGREGAR EL MAPA</p>
      </div>
      <div class="dir-con">
        <div class="container">
          <div class="row align-items-start">
            <div class="col direccion">
              <h3>DIRECCION</h3>
              <p>- Mocorito 53, Alvaro Obregon</p>
              <h3>HORARIO</h3>
              <p>- Lunes a Domingo de 09:00 a 18:00</p>
            </div>
            <div class="col contacto">
              <h3>CONTACTO</h3>
              <a href="https://www.facebook.com/" target="_blank"><img src="/resources/css/imgs/redes/facebook-96.png" alt=""></a>
              <a href="https://www.instagram.com/" target="_blank"><img src="/resources/css/imgs/redes/instagram-96.png" alt=""></a>
              <a href="https://mx.pinterest.com/" target="_blank"><img src="/resources/css/imgs/redes/pinterest-96.png" alt=""></a>
              <a href="https://www.tiktok.com/" target="_blank"><img src="/resources/css/imgs/redes/tiktok-96.png" alt=""></a>
              <a href="https://twitter.com/home" target="_blank"><img src="/resources/css/imgs/redes/twitterx-96.png" alt=""></a>
              <a href="https://wa.me/5255587683642" target="_blank"><img src="/resources/css/imgs/redes/whatsapp-96.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- AGREGAR EL SCRIPT PARA PODER MOSTRAR LA UBICACION DEL RESTAURANTE EN EL MAPA -->
  </body>
</html>