/*IMPORTACION DE FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*GLOBAL*/
body{
    margin: 0;
    color: #04364A;
    background-color: #FFFFFF;
    font-family: "Roboto Slab", serif !important;
}
a{
    text-decoration: none
}

/*ADMINISTRADOR*/
/*INDEX*/
.index{
    width: 90%;
    margin: 50px auto;
}
.row{
    margin-top: 20px;
}
/*MENU*/
.menu-admin{
    width: 100%;
    border-collapse: collapse;
}
.menu-admin td{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    padding: 15px 0;
}
.menu-admin a{
    color: #04364A;
}
.menu-admin a:hover{
    color: #176B87;
}
/*OPCION DEL MENU*/
.opcion{
    padding: 10px;
    font-size: 30px;
}
/*FORMULARIOS*/
.form{
    width: 600px;
    margin: 200px auto;
    text-align: center;
}
.form input[type="text"],
.form input[type="password"],
.form input[type="number"]{
    width: 50%;
    padding: 15px;
    border: 2px solid #04364A;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-alta{
    width: 400px;
    margin: 200px auto;
    text-align: left !important;
}
.form-alta h1{
    text-align: center;
}
.form-alta input[type="text"],
.form-alta input[type="password"],
.form-alta input[type="number"],
.form-alta input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 2px solid #04364A;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.select{
    display: block;
    width: 100%;
    font-family: "Lucida Console", monospace;
    padding: 10px 5px;
    margin: 5px 0;
    color: #04364A;
    background-color: #FFFFFF;
    border: 2px solid #04364A;
    border-radius: 5px;
}
.select-categoria{
    display: block;
    width: auto;
    font-family: "Lucida Console", monospace;
    padding: 10px 5px;
    margin: 5px 0;
    color: #04364A;
    background-color: #FFFFFF;
    border: 2px solid #04364A;
    border-radius: 5px;
}
.select-visible{
    display: block;
    width: auto;
    font-family: "Lucida Console", monospace;
    padding: 5px 5px;
    margin: 5px 0;
    color: #04364A;
    background-color: #FFFFFF;
    border: 2px solid #04364A;
    border-radius: 5px;
}
/*ADMINISTRACION DE PEDIDOS*/
.i-pedido{
    height: 600px;
    overflow-y: auto;
    border: 2px solid #04364A;
    border-radius: 10px;
    padding: 10px;
}
.i-pedido::-webkit-scrollbar{
    width: 10px;
}
.i-pedido::-webkit-scrollbar-thumb{
    background-color: #04364A;
    border-radius: 5px;
}
.n-pedido{
    height: 500px;
    overflow-y: auto;
    border: 2px solid #04364A;
    border-radius: 10px;
    padding: 10px;
}
.n-pedido::-webkit-scrollbar{
    width: 10px;
}
.n-pedido::-webkit-scrollbar-thumb{
    background-color: #04364A;
    border-radius: 5px;
}
.t-pedido{
    margin-top: 20px;
    height: 80px;
    border: 2px solid #04364A;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.t-pedido p {
    font-weight: bold;
    margin: 0; /* Elimina el margen por defecto de los párrafos */
}
.t-pedido span{
    color: #FF0060;
}
/*BOTONES*/
.bt-form-a{
    width: 50%;
    background-color: #0079FF;
    color: #FFFFFF;
    border: 2px solid #0079FF;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}
.bt-form-a:active, .bt-form-a:hover{
    background-color: #FFFFFF;
    color: #0079FF;
}
.bt-form-b{
    width: 50%;
    background-color: #FF0060;
    color: #FFFFFF;
    border: 2px solid #FF0060;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.bt-form-b:active, .bt-form-b:hover{
    background-color: #FFFFFF;
    color: #FF0060;
}
.bt-save{
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    background-color: #0079FF;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.bt-save:hover, .bt-save:active{
    color: #0079FF;
    background-color: #FFFFFF;
    border-color: #0079FF;
    transition: .2s linear;
}
.bt-cancel{
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF0060;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
    /*apariencia de boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.bt-cancel:hover, .bt-cancel:active{
    color: #FF0060;
    background-color: #FFFFFF;
    border-color: #FF0060;
    transition: .2s linear;
}
.azul{
    background-color: #0079FF;
    color: #FFFFFF;
    border: 2px solid #0079FF;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.azul:active, .azul:hover{
    background-color: #FFFFFF;
    color: #0079FF;
}
.verde{
    background-color: #00DFA2;
    color: #FFFFFF;
    border: 2px solid #00DFA2;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.verde:active, .verde:hover{
    background-color: #FFFFFF;
    color: #00DFA2;
}
.rojo{
    background-color: #FF0060;
    color: #FFFFFF;
    border: 2px solid #FF0060;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.rojo:active, .rojo:hover{
    background-color: #FFFFFF;
    color: #FF0060;
}
.amarillo{
    background-color: #F6FA70;
    color: #FFFFFF;
    border: 2px solid #F6FA70;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.amarillo:active, .amarillo:hover{
    background-color: #FFFFFF;
    color: #F6FA70;
}
/*BOTONES PARA PEDIDOS*/
.ver{
    color: #04364A;
    border: 1px solid #04364A;
    border-radius: 5px;
    padding: 2px 10px;
    margin: -2px;
}
.ver:active, .ver:hover{
    background-color: #04364A;
    color: #FFFFFF;
}
.add-to-cart{
    color: #04364A;
    border: 1px solid #04364A;
    border-radius: 5px;
    padding: 2px 10px;
    margin: -2px;
}
.add-to-cart:active, .add-to-cart:hover{
    background-color: #04364A;
    color: #FFFFFF;
}
.decrement{
    background-color: #FF0060;
    color: #FFFFFF;
    border: 1px solid #FF0060;
    border-radius: 5px;
    padding: 2px 10px;
    margin: -2px 5px -2px 0px;
}
.decrement:active, .decrement:hover{
    background-color: #FFFFFF;
    color: #FF0060;
}
.increment{
    background-color: #0079FF;
    color: #FFFFFF;
    border: 1px solid #0079FF;
    border-radius: 5px;
    padding: 2px 10px;
    margin: -2px 0px -2px 5px;
}
.increment:active, .increment:hover{
    background-color: #FFFFFF;
    color: #0079FF;
}
.t-pedido button{
    color: #04364A;
    border: 1px solid #04364A;
    border-radius: 5px;
    padding: 2px 10px;
}
.t-pedido button:active, .t-pedido button:hover{
    background-color: #04364A;
    color: #FFFFFF;
}
/*NOTIFICACION*/
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #04364A;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.5s;
}
#notification.hidden {
    opacity: 0;
    visibility: hidden;
}
#notification.show {
    opacity: 1;
    visibility: visible;
}