/*HOJA DE ESTILOS PARA LA PAGINA WEB*/
/*IMPORTACION DE FUNTE*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
/*GLOBAL*/
body{
    margin: 0;
    color: #1C6758;
    background-color: #EEF2E6;
    font-family: "Amatic SC", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}
a{
    color: #1C6758;
    text-decoration: none;
}
a:hover{
    color: #D6CDA4;
    transition: .2s linear;
}
h1{
    font-size: 70px;
    font-weight: 800;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
/*BARRA DE NAVEGACION*/
.navegacion{
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 15px;
    word-spacing: 20px;
    font-size: 40px;
    font-weight: 800;
    background-color: #EEF2E6;
    z-index: 1000;
}
.menu-img{
    display: none;
}
/*CONTENIDO*/
.contenido{
    width: 90%;
    margin: 120px auto 50px auto;
    text-align: center;
}
/*INFORMACION DE LA FONDA*/
.info-fonda{
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #145943;
    color: #D6CDA4;
}
.info-fonda h1{
    font-size: 50px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.info-fonda p{
    font-size: 40px;
}
/*PEDIDOS POR WA*/
.bt-wa{
    background-color: #1C6758;
    color: #EEF2E6;
    border: 2px solid #1C6758;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
.bt-wa:active, .bt-wa:hover{
    background-color: #EEF2E6;
    color: #1C6758;
    transition: .2s linear;
}
/*MENU*/
.menu{
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/*INFORMACION DEL PLATILLO*/
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.card-container {
    flex: 1 0 20%;
    max-width: 20%;
    margin-bottom: 20px;
}
.card {
    background-color: #EEF2E6;
    border: 1px solid #1C6758;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin: 0 auto;
}
.card:hover {
    transform: scale(1.05);
}
.img-menu {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.card-title {
    font-size: 1.25em;
    font-weight: bold;
    color: #1C6758;
    margin-top: 10px;
}
.card-text {
    color: #FF6600;
    font-weight: bold;
}
.card-description {
    margin-top: 10px;
    color: #333;
}
.btn {
    background-color: #1C6758;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #145943;
}
.btn-close {
    background-color: #FF6600;
}
.btn-close:hover {
    background-color: #CC5200;
}
/*FORMULARIO PARA AGREGAR UN COMENTARIO*/
.form-comentario{
    width: 400px;
    margin: 10px auto;
    text-align: left !important;
}
.form-comentario h1{
    text-align: center;
}
.form-comentario input[type="text"]{
    width: 100%;
    padding: 10px;
    background-color: #EEF2E6;
    border: 2px solid #1C6758;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
/*BOTON PARA GUARDAR UN COMENTARIO*/
.bt-guardar{
    width: 100%;
    padding: 10px;
    background-color: #1C6758;
    color: #EEF2E6;
    border: 2px solid #1C6758;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.bt-guardar:hover, .bt-guardar:active{
    color: #1C6758;
    background-color: #EEF2E6;
    border-color: #1C6758;
    transition: .2s linear;
}
/*MOSTRAR LOS COMENTARIOS*/
.ver-comen{
    height: 700px;
    overflow-y: auto;
    border: 2px solid #1C6758;
    border-radius: 10px;
    padding: 10px;
}
.ver-comen::-webkit-scrollbar{
    width: 10px;
}
.ver-comen::-webkit-scrollbar-thumb{
    background-color: #1C6758;
    border-radius: 5px;
}
/*COMENTARIO*/
.comentario{
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*CHATBOT*/
.chatbot{
    display: none;
    position: fixed;
    bottom: 80px; /* Ajusta esta distancia según sea necesario */
    left: 10px; /* Ajusta esta distancia según sea necesario */
    z-index: 1000; /* Asegúrate de que este z-index sea mayor que el del botón */
    border: 2px solid #1C6758;
    border-radius: 10px;
    background-color: white;
}
.chatbot-bt{
    padding: 10px;
    background-color: #EEF2E6;
    border: 2px solid #1C6758;
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 999;
}
/*FOOTER*/
footer{
    color: #D6CDA4;
    background-color: #1C6758;
    text-align: center;
}
footer a{
    color: #D6CDA4;
}
/*MAPA*/
.mapa{
    width: 70%;
    height: 500px;
    margin: auto;
    border-radius: 40px;
    background-color: #EEF2E6;
}
/*DIRECCION Y CONTACTO*/
.dir-con{
    width: 70%;
    margin: auto;
    margin-top: 25px;
}

/*
DISEÑO RESPONSIVO DE LA PAGINA WEB
(MEDIA QUERY)
*/

@media (max-width: 500px){
    /*GLOBAL*/
    body{
        font-size: 20px;
    }
    h1{
        font-size: 60px;
        font-weight: 800;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 30px;
    }
    /*BARRA DE NAVEGACION*/
    .nav-links{
        top: 0;
        left: 0;
        position: fixed;
        display: grid;
        place-items: center;
        width: 100%;
        height: 100vh;
        clip-path: circle(0% at top left);
        transition: clip-path .5s;
        background-color: #EEF2E6;
    }
    .nav-links:target{
        clip-path: circle(150% at top left);
    }
    .menu-img{
        display: flex;
    }
    .menu-img img{
        width: auto;
    }
    /*INFORMACION DE LA FONDA*/
    .info-fonda{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
    }
    .info-fonda h1{
        font-size: 30px;
    }
    .info-fonda p{
        font-size: 20px;
    }
    /*COLUMNAS*/
    .col {
        width: 100%;
        margin-bottom: 1rem; /* Esto añade un poco de espacio entre las columnas */
    }
    .col-4{
        width: 100%;
    }
    .col-8{
        width: 100%;
    }
    /*PEDIDOS POR WA*/
    .img-wa{
        display: none;
    }
    /*TARJETAS DE LOS PLATILLOS*/
    .card-container {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .card {
        padding: 5px;
        margin: 10px auto;
    }
    .img-menu {
        height: 100px;
    }
    .card-title {
        font-size: 30px;
    }
    .card-text {
        font-size: 25px;
        margin-bottom: 0;
    }
    .btn {
        padding: 5px 10px;
        font-size: 0.9em;
        margin-top: 5px;
    }
    /*COMENTARIOS*/
    .form-comentario label{
        margin-top: 10px;
        text-align: center;
    }
    .col-8{
        width: 100%;
    }
    .ver-comen{
        height: 500px;
    }
    /*MAPA*/
    .mapa{
        width: 90%;
        height: 150px;
        margin: auto;
        border-radius: 40px;
        background-color: #EEF2E6;
    }
    /*DIRECCION Y CONTACTO*/
    .dir-con{
        width: 90%;
    }
    .dir-con img{
        height: 50px;
        width: auto;
    }
    
}