<nav class="navegacion">
    <a href="#menu" class="menu-img">
        <img src="/resources/css/imgs/menu.png" alt="menu">
    </a>
    <div class="nav-links" id="menu">
        <a href="inicio">INICIO</a>
        <a href="menu">MENÚ</a>
        <a href="comentarios">COMENTARIOS</a>
    </div>
</nav>